.circular-progress {
  position: relative;
  display: inline-block;
}

.circular-progress-circle {
  position: relative;
  width: 35px;
  height: 35px;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.segment {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background: blue;
  transform-origin: 0 0;
}

.circular-progress-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.circular-progress-value {
  position: absolute;
  font-size: 10px;
  font-family: Roboto;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
